* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url(/front-end/src/assets/Desarrollo-Web.jpg) ;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    border: 4px solid #BDB76B;
    border-radius: 35px;
    width:40%;
    height:40%;
    margin: 5% auto;
    padding: 20px;
    background-color:  #BDB76B ;
    /*background: linear-gradient(180deg, #000000 0%, #313131 100%);*/
    font-family: 'Encode Sans Expanded';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 45px;
    text-align: center;
    color: #1A495B;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow:5px 8px solid #1A495B;
    
  }

  .imgPerfil {
    border-radius: 100%;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    box-shadow:5px 8px solid #1A495B;
  }

  .x {
    position:absolute;
    top:13%;
    left: 65%;
  }